@model BlogCore.Models.ViewModels.HomeVM

<div class="row backGroudTitle mt-1">
    <div class="col-sm-12">
 <h1 class="text-center text-white bg-secondary py-1"> Ultimos cursos y tutoriales</h1>
    </div>
</div


@if(Model.ArticlesList.Count()>0)
{<hr />

<div class="row">
    @foreach (var item in Model.ArticlesList.OrderBy(o=>o.Id))
        {
           <div class="col-4">
           <div class="card">  
               <img src="@item.UrlImage" class="img-thumbnail" width="100%">
        <div class="card-body"> 
    <h5 class=" text-center">@item.Name </h5>
    <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-id="@item.Id">
    Más Información </a>
</div>    
    </div>    
           </div>
        }
    </div>
}
else
{
<p>No hay artículos</p>    
}
